@font-face {
    font-family: 'mountains_of_christmasbold';
    src: url('../fonts/mountainsofchristmas-bold-webfont.woff2') format('woff2'),
         url('../fonts/mountainsofchristmas-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'mountains_of_christmasregular';
    src: url('../fonts/mountainsofchristmas-regular-webfont.woff2') format('woff2'),
         url('../fonts/mountainsofchristmas-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
}
html {
    font-family: 'mountains_of_christmasregular';
    background-image: url('../images/background.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}
#doors {
    list-style: none;
}

#doors li {
    width: 50px;
    height: 50px;
    padding: 30px;
    display:block;
    float:left;
    font-size: 50pt;
    font-weight: bold;
    line-height: 50pt;
    text-align: center;
    -webkit-user-select:none;
    user-select:none;
    cursor:pointer;
    border: 1px dashed #fff;
    color: #fff;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
    margin: 50px;
    text-shadow: 0 0 1px #000;
    transition: 0.2s;
}

.door:hover {
    background: rgba(0,0,0,0.4);

}
#door-content {
    position: absolute;
    background: white;
    width: 1024px;
    height: 768px;
    left: 50% !important;
    margin-left: -512px;
    margin-top: -384px;
    top: 50% !important;
    transition: 2s;
    border: 40px solid #476C2B;
    border-radius: 5px;
    display: none;

}
#door-content.opened {
    display:block;
    opacity: 1;
    animation: 0.2s linear fadeIn;
}



.covered {
    background-color: rgba(0,0,0,0.4);
}


footer {
    width: 100%;
    height: 64px;
    background: rgba(0,0,0,0.4);
    color: white;
    position: absolute;
    bottom: 0;
    line-height: 64px;
    font-family: sans-serif;

}
footer p {
    text-align: center;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    },
    100% {
        opacity: 1;
    }
}
