input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}
#mixer-container {
    background: #232323;
}
/*
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 34px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -14px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;

}
*/
input[type=range]::-moz-range-thumb {
  height: 30px;
  width: 16px;
  background: linear-gradient(#d5d5d5 1px,
                              #d4d4d4 2px,
                              #bebebe 3px,
                              #c5c5c5 4px,
                              #9a9a9a 5px,
                              #616161 6px,
                              #696969 7px,
                              #858585 8px,
                              #909090 9px,
                              #8c8c8c 10px,
                              #8a8a8a 11px,
                              #9c9c9c,12px,
                              #b8b8b8 13px,
                              #c9c9c9 14px,
                              #bbbbbb 15px,
                              #313131 16px,
                              #c5c5c5 17px,
                              #cecece 18px,
                              #aaaaaa 19px,
                              #b0b0b0 20px,
                              #cccccc 21px,
                              #b0b0b0 22px,
                              #aeaeae 23px,
                              #d1d1d1 24px,
                              #b9b9b9 25px,
                              #818181 26px,
                              #6a6a6a 27px,
                              #686868 28px,
                              #676767 29px,
                              #3f3f3f 30px,
                              #000);
  cursor: pointer;
  border-radius: 0;
  border:0;
}
