body {
  position: absolute;
  display: table;
  margin: 0;
  width: 100%;
  height: 100%;
}

#centerOuter{
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
}
#centerInner{
  margin: 0 auto;
}

canvas {

}
